header, footer {
 background-color: #38b6ff;
 padding: 10px;
}

.footer-columns {
 display: flex;
}

.footer-column {
 flex: 50%;
 margin: 20px;
}
 
main {
 padding: 10px;
 background-color: silver;
}

.post {
 background-color: white;
 padding: 20px;
 border-radius: 10px;
 margin-bottom: 20px;
 display: flex;
}

.post img {
 margin: 20px;
}


html {
    font-size: 20px;
}